$bs-border-width: 1px;
$row-height: 3rem;
$col-height-left: 1.5rem;
$col-height-right: 2.5rem;

// show

.row {
  min-height: $row-height;
}
.col-sm-4 {
  min-height: $col-height-left;
  margin-bottom: 0.2rem !important;
}
.col-sm-8 {
  min-height: calc($col-height-right + 2 * $bs-border-width);
  padding-top: 0 !important;
  // padding-left: 0 !important;
  margin-bottom: 0.8rem !important;
}
.form-control {
  // padding-top: 0 !important;
  // padding-bottom: 0 !important;
}
.button-container {
  min-height: 4rem;
  margin-bottom: 1rem;
}
