@import "../../index.scss";

.filterbar {
  -webkit-text-fill-color: var(--bs-dark) !important;
  border-color: var(--bs-dark);
  caret-color: var(--bs-dark);
  &:hover,
  &:focus,
  &:active {
    border-color: $secondary;
  }
}
